//Police Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//Police Shrikhand
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$family : 'Roboto', sans-serif;
$logo : 'Shrikhand', cursive;
$loca_color : rgb(223, 223, 223);
$menu_color : rgb(240, 240, 240);
$primary_color : #9356DC;
$secondary_color : #FF79DA;
$tertiary_color : #99E2D0;

@keyframes loading
{
    0% 
    {
        transform : rotate(0deg);
        opacity : 1;
    }
    50%
    {
        transform : rotate(90deg);
        opacity : 0.5;
    }
    100%
    {
        transform : rotate(360deg);
        opacity : -1;
    }
}

@keyframes decalage
{
    0% 
    {
        opacity : 0;
        top : 50px;
    }
    50%
    {
        opacity : 0.5;
        top : 25px;
    }
    100%
    {
        opacity : 1;
        top : 0px;
    }
}

.loader
{
    border : 16px solid $primary_color;
    border-top : 16px solid $secondary_color;
    border-bottom : 16px solid $tertiary_color;
    position : fixed;
    width : 100%;
    height : 100%;
    animation : loading 2s linear forwards;
    background-color : white;
}

body
{
    font-family : $family;
}

.header 
    {
        text-align: center;

        &__img
        {
            width : 50%;
            display : block;
            margin : auto;
            padding : 20px;
        }

        &__loca 
        {
            font-size : 15px;
            background-color : $loca_color;
            padding : 30px;
            margin : 0;
        }

        .fa
        {
            font-size : 40px;
            margin-right : 30px;
        }

        &__menu
        {
            background-color: $menu_color;
            padding : 80px 0px 120px 0px;

            &__title
            {
                font-size : 50px;
                text-align: center;
                margin : 0px 0px 30px 0px;
            }

            &__catchphrase
            {
                font-size : 45px;
                text-align: justify;
                color :rgb(95, 95, 95);
            }

            &__btn
            {
                margin-top : 50px;
                background : linear-gradient($secondary_color,$primary_color);
                border-radius: 60px;
                border : none;
                width : 55%;
                height : 120px;
                font-size : 40px;
                color : white;

                &:hover
                {
                    opacity : 0.9;
                }
            }
        }

        .fa-arrow-left
        {
            font-size : 50px;
            position : absolute;
            top : 40px;
            left : 30px;
            color : black;
        }
    }

.fonc
{
    &__title
    {
        font-size : 50px;
        margin : 100px 0px 60px 40px;
    }
    &__nav
    {
        list-style-type : none;
        padding : 0;

        &__link
        {
            border-radius: 60px;
            border : 1px solid grey;
            background : $menu_color;
            padding : 50px;
            margin : 45px;
            width : 80%;
            box-shadow : 0px 0px 20px rgb(161, 161, 161);
            &--purple
            {
                background : rgb(238, 234, 247);
            }
        }

        &__num
        {
            display : inline-block;
            padding : 10px 20px;
            font-size : 35px;
            text-align : center;
            border-radius : 50%;
            background : $primary_color;
            position : relative;
            right : 80px;
            color : white;
        }
    }

    .fa-mobile-alt
    {
        font-size : 50px;
        color : grey;
        margin-right : 45px;
    }

    .fa-list
    {
        font-size : 40px;
        color : grey;
        margin-right : 40px;
    }

    .fa-store 
    {
        font-size : 40px;
        color : $primary_color;
        margin-right : 35px;
    }   
}

.rest-prev
{
    background-color: $menu_color;
    padding-bottom : 70px;

    &__title
    {
        font-size : 50px;
        margin : 150px 0px 60px 40px;
        padding-top : 120px;
    }

    &__restaurant
    {
        background : white;
        border-radius : 50px;
        margin : 50px;
        padding-bottom : 50px;
        position : relative;

        &__img
        {
            border-radius : 50px 50px 0px 0px;
            width: 100%;
            height : 450px;
            object-fit: cover;

            &--menu
            {
                width : 100%;
                height : 600px; 
            }
        }
        &__heading
        {
            font-size : 15px;
            margin-left : 30px;
        }
        &__loca
        {
            color :rgb(95, 95, 95);
            margin-left : 30px;
            font-size : 15px;
        }
        &__new
        {
            font-size : 30px;
            text-align: center;
            background: #99E2D0;
            color : rgb(0, 97, 5);
            width : 100px;
            padding : 15px 40px 15px 30px;
            position : absolute;
            top : 30px;
            right : 40px;
        }
    }

    .fa-heart
    {
        font-size : 55px;
        position : relative;
        float : right;
        bottom : 30px;
        right : 50px;
        color : white;
        text-shadow : 0 0 3px black;
        transition : color 3000ms;

        &:hover
        {
            color : $primary_color;
        }
    }
}

.end-nav
{
    list-style-type: none;
    background: rgb(54, 54, 54);
    color : white;
    padding : 50px;
    font-size : 14px;
    margin : 0;
    
    &__logo
    {
        font-family: $logo;

        &--mobile
        {
            font-size : 45px;
            margin-bottom : 10px;
        }
    }

    &__link
    {
        margin : 15px;
        
        &--mail
        {
            color : white;
            text-decoration: none;
        }
        &--mobile
        {
            font-size : 40px;
            margin : 10px;
        }
    }
    
    .fa-utensils
    {
        font-size : 40px;
        margin-right : 20px;
    }

    .fa-hands-helping
    {
        font-size : 35px;
        margin-right : 10px;
    }
}

.menu-card
{
    background : $menu_color;
    padding-bottom : 150px;
    border-radius : 90px 90px 0px 0px;
    position : relative;
    margin-top : -110px;

    &__heading
    {
        font-family : $logo;
        font-size : 70px;
        margin : 0;
        margin-left : 25px;
        padding-top : 80px;
    }
    &__heart
    {
        margin-left : 100px;
    }
    &__type
    {
        color :rgb(95, 95, 95);
        font-size : 45px;
        border-bottom : 10px solid $tertiary_color;
        width : 10%;
        margin-left : 25px;
        margin-top : 80px;
        font-weight: normal;
    }
    &__plat
    {
        background: white;
        margin : 30px;
        border-radius : 30px;
        height : 160px;
        position : relative;
        overflow : hidden;
        display : flex;
        flex-wrap : wrap;
        animation : decalage 1.5s linear;

        &__title
        {
            font-size : 45px;
            margin : 0;
            padding : 20px;
            overflow : hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex : 100%;
        }
        &__description
        {
            font-size : 40px;
            color : rgb(95, 95, 95);
            padding : 20px;
            padding-top : 0px;
            overflow : hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex : 40%;
        }
        &__price
        {
            font-size : 40px;
            font-weight: bold;
            margin-right : 60px;
        }
        &__check
        {
            display : inline-flex;
            font-size : 50px;
            background : $tertiary_color;
            height : 100%;
            align-items: center;
            justify-content: center;
            width : 0px;
            position : relative;
            bottom : 95px;
            overflow : hidden;
            transition : width 800ms, transform 10s;
        }
        &:hover .menu-card__plat__check
        {
            width : 130px;
        }
        .checked
        {
            background : white;
            color : $tertiary_color;
            border-radius : 50%; 
            transform : rotate(0deg);
            transition : transform 800ms;
        }
        &:hover .menu-card__plat__check > .checked
        {
            transform : rotate(360deg);
        }
    }

    &__btn
    {
        background : linear-gradient($secondary_color,$primary_color);
        border-radius: 60px;
        border : none;
        width : 55%;
        height : 120px;
        font-size : 40px;
        color : white;
        display : block;
        margin : auto;
        margin-top : 100px;

        &:hover
        {
            opacity : 0.9;
        }
    }
}