//Police Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$roboto : 'Roboto', sans-serif;
$loca_color : rgb(211,211,211);
$menu_color : rgb(232,232,232);
$primary_color : #9356DC;
$secondary_color : #FF79DA;

header 
{
    font-family : $roboto;
    text-align: center;

    img
    {
        width : 50%;
        display : block;
        margin : auto;
        padding : 20px;
    }

    p 
    {
        font-size : 40px;
        background-color : $loca_color;
        padding : 30px;
        margin : 0;
    }

    .fa
    {
        font-size : 50px;
        margin-right : 30px;
    }

    .header__menu
    {
        background-color: $menu_color;
        padding : 80px 0px 120px 0px;
    }

    h1
    {
        font-size : 70px;
        margin : 0px 70px 40px 70px;
    }

    span
    {
        font-size : 50px;
        text-align: justify;
    }

    button
    {
        margin-top : 50px;
        background : linear-gradient($secondary_color,$primary_color);
        border-radius: 60px;
        width : 55%;
        height : 120px;
        font-size : 40px;
        color : white;
    }

}